*{
    /* font-family: "Poppins"; */
}
body {
    margin: 0; 
    font-family: "Poppins", Arial;
}


/********************header*****************/
header{
    width: 100%;
    position: fixed;
    z-index: 1000;
background:  transparent;
background-color: rgba(240, 240, 240, 0.127);

    height:60px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #5c5c5c;
}

.header-cont{
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 98%;
    margin: auto;
  
}
nav{
    width: 50%;
  
}
nav ul {
    justify-content: space-around;
    align-items: center;
    display: flex;
  
    list-style: none;

}
nav ul li{
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: 100;
    letter-spacing: 1px;
    padding-right:2%;
    padding-left: 2%;
    justify-content: center;
   /* align-items: center; */
    position: relative;
    padding-top: 10px;
    padding-bottom: 23px;
}

nav ul li div{
    position: absolute;

display: flex;
justify-content: center;
width: 100%;
left: 0;
bottom: 0;
}
nav ul li div span{
    bottom: 0;
    display: block;
    width: 15px;
    height: 0.2vh;
   
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease-in-out;
}

nav ul li:hover  .b{
    width: 100%;
}

nav ul li a{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}
nav ul li a:hover{
    opacity: 0.8;
}

.menus{
   
    display: flex;
    width: 5%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.menus img{
    width: 30%;
    height: 70%;
    display: block;
    margin: auto 5%;
    padding: 0 2%;
    transform: scaleX(-1);
    transition: all 0.3s ease;
}

.menus img:hover{
    opacity: 0.8;
    cursor: pointer;
}



/************************ Section 1 ***********************/

.section-1 {
    
    width: 100%;
    height: 100vh;
    position: relative;
padding-top: 5vh;

   
    justify-content: center;
    align-items: center;


}

.sec1-img {
    background-image: linear-gradient(rgba(52, 51, 51, 0.7), rgba(48, 47, 47, 0.7)), url("https://i.ibb.co/WsSTS55/module-2.jpg");


    z-index: -100px;
    position: absolute;
    width: 100%;
    height: 110vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: -5%;
}

.cont {
    position: relative;

  
    width: 100%;
    height: 60%;
    margin: auto;
    
    align-items: center;
    justify-content: center;
    padding-top: 14%;



}

.sen1 {
    width: 70%;
    margin: auto;
  
    font-size: 4em;
    font-weight: 700;
    color: white;
  
    text-align: center;
    line-height: 1.3;
    letter-spacing: 1px;
text-align: center;
align-items: center;
justify-content: center;
margin-bottom: 2%;

}

.para {
   
    width: 50%;
  
    margin: auto;
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 1.8;
 

}


.buttons-1 {

    width: 30%;
    height: 15%;
    margin: auto;
    /* padding-bottom: 1%; */
    margin-top: 2%;
display: flex;
    /* padding-left: 12%; */
    justify-content: center;
    align-items: center;
    font-weight: 600;
 
}

.btn1 {
    background-color: rgb(80, 92, 253);
    color: white;
    margin-right: 2%;
}

.btn2 {
    border-width: 1px;
    border-style: solid;
    border-color: white;
    color: white;
    background-color: rgb(77, 78, 83, 0);
    /* padding-left: 8%; */
    box-sizing: border-box;

}

.btn1,
.btn2 {
    box-sizing: border-box;
    font-size: 0.65em;
    font-weight: 750;
    border-radius: 50px;
    padding: 20px 33px;
    /* display: inline-block; */
    letter-spacing: 1px;
   margin: 0 3%;
    
}

.btn1:hover {
    background-color: blue;
    cursor: pointer;
}

.btn2:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}



/************************ Section 2 ***********************/

.section-2 {
    width: 100%;
    height: 100%;

    justify-items: center;

    justify-content: center;
    align-items: center;
    background-color: rgb(249, 249, 248);
    padding: 5% 0;
    border-bottom: 1px solid #e2e2e2;
}

.cont2 {

    width: 60%;
    margin: auto;
    justify-content: center;
    align-items: center;

}

.sec2-sen {
    margin-left: auto;
    margin-right: auto;
    width: 40%;

    font-size: 1.8em;
    font-weight: 400;
    color: black;
   
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1.3;
    letter-spacing: 1px;
}

.sec2-para {
    margin-left: auto;
    margin-right: auto;
   padding: 15px 0;
   width: 45%;
   font-size: 13px;
   font-weight: 500;
   color: rgb(113, 113, 113);
   margin-bottom: 1%;

   text-align: center;
   line-height: 1.3;

}

.sec2-image {
    width: 100%;
    height: 50%;
  
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.sec2-image  img{
    width: 100%;
    height: 90%;
}

.sec2-items {
    display: flex;

    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
   
    margin: auto;
}

.sec2-item {
    display: inline-block;
    margin: 5% 2%;
    width: 60%;
    position: relative;
    justify-content: center;

}

.sec2-h {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.7em;
    margin-top: 7%;
    width: 65%;
    margin-left: 5em;


}

.sec2-p {
   
    margin-left: 15%;
    width: 90%;

    color: rgb(142, 139, 139);
    line-height: 1.9;

    justify-content: center;
    font-size: 0.64em;
 
    padding: 10px 5px;
}

.sec2-link {
    text-align: center;
    justify-content: center;
    width: 65%;
    margin-left: 3.5em;

}

.sec2-link a {
    text-decoration: none;
    color: rgb(67, 67, 204);
    font-size: 0.7em;
 
}

.sec2-item-icon {
  
    transform: translateY(-5em);
 
    position: absolute;
    margin: 3em;
   
    left: 25%;

    transition: all 0.5s ease-in-out;
}

.sec2-item-icon img {
    width: 2.5em;
    height: 2.5em;
}

.sec2-item:hover .sec2-item-icon {

    transform: translateY(-5.5em);

}

/*****************************section 3**********************************/



.section-3 {
    width: 100%;
    height: 100%;
 
 

    justify-content: center;
    align-items: center;
   
 

}


.pt-1 {

    width: 100%;
    height: 50%;
    margin-top: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
  
    
}

.sen3 {
      margin-left: auto;
    margin-right: auto;
    width: 30%;

    font-size: 1.8em;
    font-weight: 400;
    color: black;
   
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1.3;
    letter-spacing: 1px;
}

.para3 {

   

    margin-left: auto;
    margin-right: auto;
   padding: 15px 0;
   width: 25%;
   font-size: 13px;
   font-weight: 500;
   color: rgb(113, 113, 113);
   

   text-align: center;
   line-height: 1.3;
}

.spans {
    font-style: italic;
    color: gray;
    justify-content: center;
    align-items: center;
    padding: 20px 260px;
    font-size: 10px;
    padding-bottom: 15px;
}

.spans span {
    margin-left: 15px;
    margin-right: 10px;
    text-align: center;

}

.spans span:hover {
    color: rgb(86, 83, 83);
    cursor: pointer;
}




.pt-2 {

    display: flex;
    flex-wrap: wrap;
 
    width: 100%;
 
    justify-content: center;
align-items: center;
    margin-top: 1%;
}

#sec3-img-2,
#sec3-img-5 {
    margin-right: 10px;
    margin-left: 10px;
}

.img-cont {
    position: relative;
    width: 30%;
    height: 50%;

    display: inline;
    margin: 10px;
    overflow: hidden;
    border-radius: 2px;

}



.img-cont img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-cont > .sec3-imgs{
    position: relative;
    transition: all 0.3s ease-out;
}

.img-cont:hover .sec3-imgs{
  
    transform: translateY(-15%);
    cursor: pointer;
}

.s1 {
    color: black;
    font-size: 0.8em;
    margin-left: -18%;
    font-weight: 500;
    text-align: center;

}

.s2 {
    color: gray;
    font-style: italic;
    font-size: 0.6em;
    margin-left: -18%;
    text-align: center;
  
}

.txt-cont {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
 
    padding: 9%;
    transform: translateY(90%);
    transition: transform 0.3s ease-out;
}

.img-cont:hover .txt-cont {
    transform: translateY(10%);

}




.pt-3 {
    margin: 11% 0;
 
    display: flex;
    flex-wrap: wrap;
 
    width: 90%;

    justify-content: center;
    align-items: center;
  
    margin-top: 1%;
}

.sec3-items {
    
    display: flex;
    overflow: hidden;
    width: 60%;
    justify-content: right;
    align-items: right;
    text-align: center;
    padding-top: 8%;
    margin-left: 8%;
    flex-wrap: wrap;
   
}

.sec3-item {
    position: relative;
    width: 30%;
    height: 50%;
  
    margin-bottom: 10%;
    display: inline-block;

    margin-left: 0.5%;
    margin-right: 0.5%;

}

.sec3-h {
    text-align: left;
    font-size: 10px;
    padding-bottom: 7px;
  

}

.sec3-p {

    width: 90%;
    color: rgb(142, 139, 139);
    line-height: 1.9;
    text-align: left;

   
  font-size: 0.6403em;
}





.sec3-item-icon {

    position: absolute;
    width: 25px;
    height: 30px;
    
    transform: translate(-0.15em, -3.3em);

    transition: 0.7s ease-in-out;
}

.sec3-item-icon img {
    width: 2.5em;
    height: 2.5em;
}

.sec3-item:hover .sec3-item-icon {

    transform: translate(-0.15em, -3.7em);
}


/********************************section 4*******************************/




.section-4 {
    width: 100%;
    height: 100%;
   
    justify-items: center;

    justify-content: center;
    align-items: center;
    background-color: rgb(249, 249, 253);
    padding-bottom: 4%;
    padding-top: 5%;
}

.cont-4 {
    margin: auto;

    width: 65%;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sec4-pt1 img {
    width: 380px;
    height: 680px;
}

.sec4-pt2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: end;
    width: 50%;
    padding-left: 3%;
}


.sen4 {
    width: 60%;
  
    font-size: 25px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-left: 11%;
    text-align: start;
    line-height: 1.3;

}

.para4 {
 
    width: 70%;
   
    line-height: 1.5;
    text-align: start;
    font-size: 12px;
    padding: 2% 0 8% 2%;
    margin-left: 20%;
    color: rgb(142, 139, 139);

}

.sec4-items {

    width: 90%;

    text-align: center;
 
    padding-left: 67%;

}



.sec4-item {
    position: relative;
    width: 400px;
    padding-top: 3%;
    margin-bottom: 5%;

    margin-left: -5%;

}

.sec4-h {
    text-align: left;
    font-size: 10px;
    padding-bottom: 7px;
  

}

.sec4-p {

    width: 100%;
    color: rgb(142, 139, 139);
    line-height: 1.7;
    text-align: left;
    
    font-weight: 400;
    font-size: 10px;

}




.sec4-item-icon {

    position: absolute;
    width: 25px;
    height: 30px;
  
    transform: translate(-3.5em, -0.2em);

    transition: 0.7s ease-in-out;
}

.sec4-item-icon img {
    width: 2.5em;
    height: 2.5em;
}

.sec4-item:hover .sec4-item-icon {

    transform: translate(-3.5em, -0.7em);
}



/***********************************Section 5********************************************/



.section5 {
    width: 100%;
    height: 100%;
    position: relative;
  
    justify-content: center;
    align-content: center;
    margin-top: 5%;
}


.sen5 {
    margin-left: auto;
    margin-right: auto;
    width: 60%;

    font-size: 30px;
    font-weight: 400;
    color: black;

    text-align: center;
    justify-content: center;
    line-height: 1.3;
    letter-spacing: 1px;
}

.para5 {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    width: 25%;
    font-size: 13px;
    font-weight: 500;
    color: rgb(113, 113, 113);


    text-align: center;
    line-height: 1.3;
}

.team {
    margin-left: auto;
    margin-right: auto;
  
    display: flex;
    flex-wrap: wrap;
  
    width: 60%;
 
    justify-content: center;
  
    margin-top: 1%;
}

.team-member {
    position: relative;
    width: 30%;
    height: 50%;
  
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    border-radius: 2px;

}

.teamimg {
    border-radius: 2px;
    transition: all 0.3s ease;
}

.team-img img {

    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 2px;


}

.team-cover {
    position: absolute;
    background-color: rgb(37, 36, 36, 0.9);
    opacity: 0;
    top: 0%;
    width: 100%;
    height: 97%;
    border-radius: 2px;
    transition: all 0.4s ease-in-out;
}

.team-con {
    position: absolute;

    margin: 0;
    padding: 0;
    top: 0%;
    width: 100%;
    height: 98%;
    border-radius: 2px;


}

.team-social {
    top: -10%;
    margin-left: 75%;
    transform: translateY(-20%);
    opacity: 0;
}

.team-social img {
    height: 15px;
    width: 15px;
    padding: 13% 0;
}

.team-info {
    margin-top: 48%;
    margin-left: 5%;
    align-items: center;
    justify-content: left;
    transform: translateY(-25%);

    opacity: 0;
}

.team-info .name {
    color: white;
    font-size: 10px;
    font-weight: 600;
    padding: 2px 10px;
}

.team-info .job-title {
    color: rgb(222, 218, 218);
    font-size: 10px;
    padding: 2px 10px;
    font-weight: 500;
}

.team-member:hover .team-info,
.team-member:hover .team-social {
    transform: translateY(3%);
    transition: all 0.5s ease-in-out;
    opacity: 100%;
}

.team-member:hover .teamimg {
    transform: translateY(-2.5px);


}

.team-member:hover .team-cover {
 
    opacity: 0.7;

}


.team-btn {
    margin: auto;
    width: 15%;
    justify-content: center;
    align-items: center;
    
}

.about-us {
    box-sizing: border-box;
    margin-left: 20%;
    margin-top: 20%;
    justify-content: center;
    color: rgb(80, 92, 253);
    background-color: white;
    border-color: rgb(80, 92, 253);
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;

    padding: 15px 26px;
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 20%;
}

.about-us:hover {
    color: white;
    background-color: rgb(80, 92, 253);
    cursor: pointer;
}


/***********************************section 6******************************************/
.section6 {
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;

    margin: 2% 0;

}


.sec6-cont2 {
    background-image: linear-gradient(rgba(92, 90, 90, 0.7), rgba(120, 117, 117, 0.7)), url("https://i.ibb.co/99Sxgq2/module-12.jpg");
    z-index: -100px;
    position: absolute;
    width: 100%;
    height: 65%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.sec6-cont1 {
  
   width: 100%;
   height: 60%;
   z-index: 100px;
   transform: scale(1.0);
   margin: auto;
   padding-top: 7%;
   padding-bottom: 1%;
   align-items: center;
   background-color: rgb(113, 113, 113,0.1);
}

.sec6-cont1,
.sec6-cont1-pt1,
.sec6-mid-img,
.sec6-pt-p,
.sec6-pt1-h,
.sec6-pt1-scroll,
.sec6-cont3-scroll {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.sec6-arrow-1 img,
.sec6-arrow-2 img {
    width: 50%;
    height: 50%;
    transition: transform 0.4s ease-in-out;

}

.sec6-arrow-1 img:hover {
    cursor: pointer;
    transform: translateX(-5px);
}

.sec6-arrow-2 img:hover {
    cursor: pointer;
    transform: translateX(5px);
}


.sec6-mid-img {
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    border: 6px solid rgba(128, 128, 128, 0.4);
}

.sec6-pt1-p {
    font-size: 0.9em;
    text-align: center;
    width: 65%;
    margin: auto;

    margin-top: 4%;
    color: white;
}

.sec6-pt1-h {
    font-size: 0.6em;
    margin-top: 2%;
    text-align: center;
    color: rgb(89, 88, 88);
}


.sec6-mid-img img {

    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}


.products {
    position: relative;
    background-color: #f8f8f8;
    padding-top: 50px;
    width: 100%;
    height: 80%;
    z-index: 2;
    justify-content: center;
    
}

.plans {
    position: absolute;
    display: flex;
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
    z-index: 1000px;
    background-color: white;
    border-radius: 2px;
    top: -80px;
    left: 12vw;
}

.plan-item {
    text-align: center;
    width: 30vw;
    height: 50%;
    border-right: 1px groove;
 justify-content: center;
   
    
}

.plans .plan-item:last-child {
    border-right: none;
}

.plan-item>* {
    padding: 20px;
}

.icon-name {
    border-bottom-width: 1px;
    border-bottom-style: groove;
    border-image: linear-gradient(to right, transparent 0%, transparent 10%,  #5c5c5c 10%,  #5c5c5c 90%, transparent 90%, transparent 100%);
    border-image-slice: 1;
    justify-content: center;
    align-items: center;
}


.icon-name span {
    font-size: 2.5rem;
    padding-bottom: 10px;
}

.icon-name p {
    font-weight: lighter;
    font-size: x-small;
    font-weight: 200;
    letter-spacing: 2px;
    color: #222;
    margin: 3% 0;
}

.icon-name img{
    width: 10%;
    height: 10%;
}


.plan-item .price-desc h2 {
    padding: 10px;
    padding-top: 0;
    font-size: 4.5rem;
    position: relative;
}

.plan-item .price-desc h2 span{
    position: absolute;
    transform: translate(-3px,-3px);
    font-size: 20px;
}

.plan-item>.price-desc>div {
    padding: 25px;
    padding-top: 5px;
    padding-bottom: 30px;
    color: #788487;
    font-size: 1rem;
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
}

.plan-item>.price-desc>button {
    height: 50%;
}

.clients-badges {
    margin-top:20vh ;
    height: 60vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding:  50px ;

}

.clients-badges > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 48%;
    padding: 30vh;

}

.clients-badges div div img {
    transition: all .15s ease-in-out;
    margin: 10px;
}

.clients-badges div div img:hover {
    opacity: 1;
}

.clients-badges div img {
    opacity: 0.6;
}


.sec6-btn {
    width: 35%;
    height: auto;
    margin: auto;
    justify-content: center;
    padding: 0;
}

.download-btn {
    margin-top: 7%;
    justify-content: center;
    color: white;
    background-color: rgb(80, 92, 253);

    border-radius: 50px;
    font-size: 0.8em;


    padding: 15% 40%;

    display: inline-block;
    letter-spacing: 1px;
    margin-left: -19%;

    transition: all .3s ease-in-out;

}

.download-btn:hover {
    background-color: blue;
    cursor: pointer;
}



/*********************section 7**************************************/




.section7 {
    margin-top: 11%;
   
 margin-bottom: 5%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
   
}

.sec7-sen {
    padding-top: 3;
    margin-left: auto;
    margin-right: auto;
    width: 62%;

    font-size: 30px;
    font-weight: 400;
    color: black;

    text-align: center;
    justify-content: center;
    line-height: 1.3;
    letter-spacing: 1px;
}

.sec7-para {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    width: 27%;
    font-size: 14px;
    font-weight: 500;
    color: rgb(113, 113, 113);

    margin-bottom: 2%;
    text-align: center;
    line-height: 1.3;
}


.sec7-cont {

    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 21%;
}

.sec7-item {
    position: relative;
    width: 30%;
    justify-content: left;
}

.sec7-cont-img {

    justify-content: center;
    align-items: center;

}

.sec7-cont-img:hover img {
    transform: translateY(-6px);
    cursor: pointer;
}

.sec7-cont-img img {
    width: 90%;
    height: 40%;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;

}

.sec7-cont-h {
    margin-top: 8%;
    padding-left: 1.5%;
}

.sec7-cont-h a {
    color: black;
    font-size: 14px;
}


.sec7-cont-h a:hover {
    color: rgb(66, 66, 232);

}

.sec7-cont-p,
.sec7-cont-a {
    font-size: 0.7em;
    margin-top: 7%;
    color: rgb(109, 108, 108);
    line-height: 1.6;
    padding-left: 1.5%;
}

.sec7-cont-a a {
    color: rgb(66, 66, 232);
}

/*********************section 8**************************************/




.section8 {
    padding-top: 11%;
    background-image: url("https://i.ibb.co/bbZDvVh/module-18.jpg");
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
   
    height: 632.327px;
    background-color: rgb(248, 248, 248);
    object-fit: cover;
}

.sec8-widgets {
    display: flex;
    width: 40%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding-bottom: 10%;

}

.sec8-wid {
    width: 100%;
    height: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 40%;
    margin: 0 8%;
}

.wid-icon img {
    width: 30px;
    height: 30px;

}

.wid-num {
    margin: 3% 0;
    font-size: 45px;
    font-weight: 700;
}

.wid-title {
    color: rgb(113, 113, 113);
    font-size: 12px;
    margin: 15% 0;
}


/*********************footer**************************************/




footer {
    background-color: rgb(34, 34, 34);
    width: 100%;
    height: 35%;
}

.footer-widgets {
    width: 100%;
    margin: auto;
    justify-content: center;

    align-items: start;
    font-size: 10px;
    display: flex;
    border-bottom: 1px solid #333;
    padding-top: 3%;
    padding-bottom: 5%;

}

.footer-bar,
.footer-bar a {
    color: aliceblue;
}

.footer-wid {
    width: 17%;
    height: 70%;
    margin: 0 1%;
    display: inline-block;
}


.wid-h {
    color: white;
    font-size: 1.15em;
}

.wid-p1 {
    color: rgb(120, 132, 135);
    padding: 10px 0;
    line-height: 1.7;
    width: 82%;
    font-size: 1.05em;
}

.footer-social img {
    height: 15px;
    width: 15px;
    padding: 3px 5px;
    margin-left: -190%;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.footer-social img:hover {
    
    opacity: 1;
    cursor: pointer;
}

.footer-social li {
    display: inline-block;
}

.wid-p2 {
    width: 70%;
    padding: 5px 0;
    line-height: 1.7;
    padding: 10px 0;
    font-size: 1.05em;
}

.wid-p2:nth-child(3) {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.wid-p2-1 a {
    text-decoration: none;
    color: white;
    font-size: 1.05em;
}

.wid-p2-2 {
    color: rgb(163, 166, 168);
    font-size: 1.05em;
}

.port-imgs {
    display: flex;
    width: 95%;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
  
    margin-top: 6%;
}

.p-imgs {
    position: relative;
    overflow: hidden;
    margin: 2px;
    cursor: pointer;
    flex: 1 0 calc(33.33% - 10px);
}

.p-imgs img {
    width: 100%;
    height: auto;
   
   
}


.p-imgs .p-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(37, 36, 36, 0.9);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.p-imgs:hover .p-cover{

    opacity: 0.7;
 
}


.footer-bar {
    width: 35%;
    margin: auto;
    justify-content: center;
}

.f-bar {
  
    font-size: 0.7em;
    padding: 1%;
    color: rgb(120, 132, 135);
    justify-content: center;
    text-align: center;
}

.f-bar a{
    opacity: 0.8;
    color: azure;
}
.f-bar a:hover{
    opacity: 1;
    color: white;
    /* box-shadow: inset; */
    text-shadow: 0px 0px 1px white;
    
}